<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.examination.mapper.HollandResultMapper">
  <resultMap id="BaseResultMap" type="com.home.examination.entity.domain.HollandResultDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="typical_major" jdbcType="VARCHAR" property="typicalMajor" />
    <result column="typical_profession" jdbcType="VARCHAR" property="typicalProfession" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, typical_major, typical_profession
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from holland_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from holland_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.home.examination.entity.domain.HollandResultDO">
    insert into holland_result (id, code, typical_major, 
      typical_profession)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{typicalMajor,jdbcType=VARCHAR}, 
      #{typicalProfession,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.home.examination.entity.domain.HollandResultDO">
    insert into holland_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="typicalMajor != null">
        typical_major,
      </if>
      <if test="typicalProfession != null">
        typical_profession,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="typicalMajor != null">
        #{typicalMajor,jdbcType=VARCHAR},
      </if>
      <if test="typicalProfession != null">
        #{typicalProfession,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.home.examination.entity.domain.HollandResultDO">
    update holland_result
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="typicalMajor != null">
        typical_major = #{typicalMajor,jdbcType=VARCHAR},
      </if>
      <if test="typicalProfession != null">
        typical_profession = #{typicalProfession,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.home.examination.entity.domain.HollandResultDO">
    update holland_result
    set code = #{code,jdbcType=VARCHAR},
      typical_major = #{typicalMajor,jdbcType=VARCHAR},
      typical_profession = #{typicalProfession,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from holland_result
    where code = #{code}
  </select>
</mapper>